body {
    margin: 0px;
}

.center {
    text-align: center;
}

.head {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

#head1 {
    font-size: 40px;
    display: block;
    position: center;
    padding-top: 80px;
    color: white;
}

.para {
    font-family: 'Montserrat', sans-serif;

}

#para1 {
    color: white;
}

#btn1 {
    width: 90px;
    margin: 20px auto;
    display: block;
    position: center;
    margin-top: 40px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 111, 86);
    padding: 13px 20px;
    border-radius: 4px;
    font-family: 'Gantari', sans-serif;
}

#sec1 {
    background: rgba(0, 0, 0, 0.5) url(images/donation7.jpg);
    height: 470px;
    background-size: cover;
    /* took help of google here on how to darken the background */
    background-blend-mode: darken;
}

.head2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-top: 45px;
}

.font {
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
}

.box1 {
    background-color: rgb(221, 228, 228);
    padding: 15px;
    border-radius: 2px;
    margin-left: 100px;
    margin-right: -75px;
}

#boxes {
    margin-left: 20%;
    margin-bottom: 55px;
}

.select {
    background-color: rgba(255, 38, 0, 0.219);
    padding: 15px;
    border-radius: 2px;
    margin-left: 100px;
    margin-right: -75px;
    border: 2px solid tomato;
}

#input {
    display: block;
    width: 275px;
    margin: 20px auto;
    border: none;
}

/* googled this  */
input[type="text"]::placeholder {
    text-align: center;
}

hr {
    width: 700px;
}

#btn2 {
    width: 90px;
    margin: 20px auto;
    display: block;
    position: center;
    margin-top: 40px;
}

.boxx {
    /* background-color: aqua; */
    margin-left: 20px;
    padding: 25px;
}

.boxx img {
    width: 40px;
}

.boxx1 {
    margin-left: 190px;
    margin-top: 50px;
}

.h3 {
    font-family: 'Poppins', sans-serif;
}

.para3 {
    font-family: 'Lato', sans-serif;
}

#mint {
    background-color: rgb(137, 214, 189);
}

#peach {
    background-color: rgb(255, 225, 235);
}

#cream {
    background-color: antiquewhite;
}

#sec4 {
    background: rgba(0, 0, 0, 0.7) url(images/donation5.jpg);
    height: 750px;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}

.numbr {
    font-family: 'Bitter', serif;
    font-size: 40px;
}

.survey {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#survey1 {
    margin-top: 65px;
}

#counter {
    margin-top: 90px;
    padding-top: 60px;
    font-size: 40px;
}

#head5 {
    margin-top: 60px;
}

form {
    background-color: rgb(250, 234, 129);
    height: 150px;
    width: 600px;
    display: block;
    margin: 20px auto;
}

#input2 {
    border: 0;
    padding: 10px 20px;
    height: 17px;
    width: 300px;
    outline: none;
}

#input2::placeholder {
    color: grey;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

#send {
    border: 0;
    background-color: tomato;
    padding: 10px 20px;
    height: 37px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.formm {
    margin-left: 100px;
    padding-top: 57px;
    margin-top: 50px;
}

#foot {
    font-family: 'Lobster', cursive;
    color: tomato;
    font-size: 25px;
    padding-top: 45px;
}

#footer {
    background-color: black;
    margin-top: 80px;
}

#end {
    color: white;
    padding-bottom: 30px;
    margin: 0;
}

#input::placeholder {
    color: grey;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
}